*.class

*.vs

tp1/code_source_devoir_1/Buckland_Chapter2-State Machines/WestWorldWithMessaging/Debug
/tp1/tp1.docx
/tp1/~$tp1.docx
/tp1/code_source_devoir_1/Buckland_Chapter2-State Machines/WestWorldWithMessaging/Release
/tp1.zip
